body {
  background-color: #EFE9E7;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.nav {
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  z-index: 10;
}
.nav a {
  text-decoration: none;
}
.nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav h1 a {
  display: block;
  width: 120px;
  height: 24px;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url(../images/logo_w@svg.svg);
  margin-left: 16px;
}
.nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav .menu a {
  display: block;
  color: white;
  font-size: 16px;
  padding: 18px 17px 15px;
  border-bottom: 3px solid transparent;
}
.nav .menu a:hover {
  border-bottom: 3px solid #fff;
}
.nav .hamburger {
  display: none;
}

@media (max-width: 414px) {
  .nav .menu {
    display: block;
    height: 0;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 56px;
    left: 0;
    right: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .nav .menu.active {
    height: 156px;
  }
  .nav .menu a {
    border: none;
    padding: 18px 17px;
  }
  .nav .menu a:hover {
    border: none;
    background: rgba(0, 0, 0, 0.25);
  }
  .nav .hamburger {
    width: 26px;
    height: 24px;
    margin: 16px 17px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav .hamburger .line {
    width: 100%;
    height: 4px;
    background-color: #fff;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .nav .hamburger.active .line02 {
    display: none;
  }
  .nav .hamburger.active .line01 {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    position: relative;
    top: 44%;
  }
  .nav .hamburger.active .line03 {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    position: relative;
    bottom: 41%;
  }
}
.banner {
  height: 420px;
  background-image: url(../images/header_desktop.png);
  background-position: 50%;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}
.banner .banner-content {
  padding: 20px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.35);
}
.banner .banner-content h2 {
  font-size: 36px;
}
.banner .banner-content p {
  font-size: 16px;
  text-align: center;
  margin-top: 16px;
}

@media (max-width: 500px) {
  .banner {
    background-image: url(../images/header_mobile.png);
    background-position: 30%;
  }
  .banner h2 span {
    text-align: center;
    display: block;
  }
}
.footer .container {
  padding: 50px 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .footer-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer .footer-contact div {
  width: 50%;
  margin-right: 22px;
}
.footer .footer-contact h3 {
  font-size: 24px;
  color: #3D1101;
  margin-bottom: 16px;
}
.footer .footer-contact p {
  font-size: 16px;
  color: #3D1101;
}
.footer .footer-contact ul {
  list-style: disc inside;
}
.footer .footer-contact ul li {
  font-size: 16px;
  line-height: 21px;
}
.footer .footer-contact ul li a {
  color: #3D1101;
  text-decoration: none;
  line-height: 21px;
}
.footer .footer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer .footer-link h3 {
  width: 243px;
  height: 48px;
  background-image: url(../images/logo_l@svg.svg);
  margin-bottom: 22px;
}
.footer .footer-link .footer-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.footer .footer-link .footer-media .icon {
  font-size: 36px;
  margin-left: 12px;
}
.footer .footer-link .footer-media .google-icon {
  color: #DB4437;
}
.footer .footer-link .footer-media .twitter-icon {
  color: #41ABE1;
}
.footer .footer-link .footer-media .facebook-icon {
  color: #3A5795;
}

@media (max-width: 768px) {
  .footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .footer-contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .footer-contact div {
    width: auto;
    margin-bottom: 30px;
    margin-right: 0;
  }
  .footer .footer-link h3 {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}/*# sourceMappingURL=layout.css.map */